html, body{
    height:100%;
  }
  
  body{
    background-image: url(../images/background.png);
    text-align: center; 
  }

  button{
    display:block;
    width:50%;
    height:20%;
    margin: 0 auto;
    border:none;
    cursor: pointer;
    background:transparent;
    font-size: 35px;;
  }
  
  #wrapper{
    background-color:orange;
    width:950px;
    margin: 2.5% auto;
    height: 90%;
    box-sizing: border-box;
  }
  
  #subwrapper{
    position: relative;
  }
  
  h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 6.5em;
    color: black;
    padding-top: 10.5%;
    padding-bottom: 2.5%;
  }

  h2{
    font-size: 30px;
    margin-bottom: 20px;
  }
  
  h3{
    font-size: 25px;
    margin-bottom: 10px;
  }
  
  #start{
    margin-top: 10%;
    border:2px solid black;
    background: lightpink;
  }
  
  button:hover {
    border:2px solid black;
    background: lightpink;
  }
 